<!DOCTYPE html>
<html>
  <head>
    <title>Привет</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Количество просмотров таблицы: <%= count %></p>
    <p>Таблица пользователей:</p>
	  <p><%= base %></p>
  </body>
</html>
